@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
  font-family: "Quicksand", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*FAQ Page*/
.svg-rotate{
  rotate: 90deg;;
}
/* OUR THERAPISTS PAGE */
p.therapist-page__name{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
color: #FFFFFF;
}
p.therapist-page__desc{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
color: #FFFFFF;
}
p.therapist-page__desc>span{
  color: #F7F131;
}
/* ABOUT US PAGE */
p.aboutus-title{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
color: #F7F131;
font-size: 36px;
}

p.aboutus-text{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
text-align: justify;
}

p.aboutus-team{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  color: black;
  font-size: 36px;
  line-height: 45px;
}

.dashed-border {
  background-color: #FDFEE6;
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%230190B1FF' stroke-width='4' stroke-dasharray='30%2c 30' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 22px;
}

/* Support Group Page */

p.support-group-headline{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  color: #001519;
  font-size: 16px;
  line-height: 20px;
}

div.support-group-slider-heading{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
color: #00677F;
}